language: objective-c
script: xctool -workspace HelloMixpanel/HelloMixpanel.xcworkspace -scheme HelloMixpanel
  -sdk iphonesimulator8.0 -destination platform='iOS Simulator',OS=8.0,name='iPhone
  6' ONLY_ACTIVE_ARCH=NO clean test
env:
  global:
  - APP_NAME="HelloMixpanel"
  - 'DEVELOPER_NAME="iPhone Distribution: Mixpanel, Inc."'
  - PROFILE_NAME="HelloMixpanel_InHouse"
  - secure: PfI/UqHcl/h1LNs5XEk46PCn+baA5+eZhYFJId+Drc+rgFLM5N5rfolQKnpT/gVap5aFiXHM5aLyf2SLVT7Zx1/QfQRHchnKVSVYIRY1dOSzE1aBrvneor9HAwrmmrO+NrJ92B6gWH3Pq+zW4tGYffFw5gzWAkppBaCMqRSxRf4=
before_install:
- brew update
- brew upgrade xctool
install: (gem update cocoapods && cd HelloMixpanel/ ; pod install)
before_script:
- xctool --version
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/profile/HelloMixpanel_InHouse.mobileprovision.enc
  -d -a -out scripts/profile/HelloMixpanel_InHouse.mobileprovision
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/dist.cer.enc -d -a
  -out scripts/certs/dist.cer
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/dist.p12.enc -d -a
  -out scripts/certs/dist.p12
