language: objective-c
before_install:
  - gem uninstall fourflusher --force -a -q -I -x
  - gem install fourflusher
  - gem uninstall cocoapods --force -a -q -I -x
  - gem install cocoapods -v 1.6.1
osx_image: xcode12
branches:
  only:
  - master
env:
  global:
  - WORKSPACE="HelloMixpanel/HelloMixpanel.xcworkspace"
  - SCHEME="[iOS] HelloMixpanel"
  matrix:
    - DESTINATION="OS=13.0,name=iPad Pro (9.7-inch)" RUN_TESTS="YES" POD_LINT="YES"
podfile: HelloMixpanel/podfile
script:
- set -o pipefail
- xcodebuild -version
- xcodebuild -showsdks

# travis_retry here because sometimes tests mysteriously fail without running any tests but will succeed the next time
- travis_retry xcodebuild -workspace "$WORKSPACE" -scheme "$SCHEME" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO test | xcpretty -c
- xcodebuild -workspace "$WORKSPACE" -scheme "$SCHEME" -destination "$DESTINATION" -configuration Release ONLY_ACTIVE_ARCH=NO build | xcpretty -c

# Run `pod lib lint` if specified
# allow warnings while surveys are deprecated but not yet removed. disallow them again later
- if [ $POD_LINT == "YES" ]; then
    pod lib lint --allow-warnings --no-clean;
  fi
